// ========== Collors ========== \\

$primary-color: #2d2d2d;
$white-color: #ffffff;
$background-color: #e5e5e5;
$bg-gradient: rgba(68, 106, 130, 0.85);
$yellow-color: #fdb913;
$blue-color: #446a82;

// ========== End Collors ========== \\

// ========== Fonts ========== \\

$primary-font: "Open Sans", sans-serif;
$fw-light: 300;
$fw-bold: 700;

// ========== End Fonts  ========== \\
