.client {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $white-color;

  @media screen and(min-width: 1320px) {
    padding-top: 65px;
    padding-bottom: 65px;
  }

  &__list {
    @media screen and(min-width: 1320px) {
      display: flex;
      justify-content: center;
      align-content: center;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and(max-width: 1319px) {
      &:not(:first-child) {
        margin-top: 35px;
      }
    }

    @media screen and(min-width: 1320px) {
      &:not(:last-child) {
        margin-right: 72px;
      }
    }
  }
}
